/* ===== Base styling ===== */
html {
  --color-accent: oklch(65% 50% 0);
  accent-color: var(--color-accent);
}

body {
  font: 100%/1.5 system-ui;
  margin-inline: max(1em, (100% - 100ch) / 2);
  background-color: white;  
  color: black; 
}

/* ===== Navigation ===== */
nav {
  display: flex;                  
  margin-bottom: 1em;             
  border-bottom: 1px solid oklch(80% 3% 200);  
}

nav a {
  flex: 1;                        
  text-align: center;             
  text-decoration: none;          
  color: inherit;                 
  padding: 0.5em 0;               
}

nav a.current {
  border-bottom: 0.4em solid oklch(85% 3% 200); 
  padding-bottom: 0.1em;          
}

nav a:hover {
  color: var(--color-accent);              
  border-bottom: 0.4em solid var(--color-accent);
  /* background-color: oklch(from var(--color-accent) 95% 5% h); */
}

/* ===== Form Styling (CSS Grid) ===== */
form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  align-items: center;
  max-width: 40rem;
  margin-inline: auto;
}

label {
  justify-self: end; /* aligns label to the right in its column */
}

input,
textarea,
button {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
  font: inherit;
  border: 1px solid oklch(80% 3% 200);
  border-radius: 0.25em;
}

form button {
  grid-column: 1 / -1;   /* button spans both columns */
  justify-self: start;   /* aligns button to the left */
}

input, textarea, select {
  grid-column: 2 / 3; /* forces inputs to always sit in column 2 */
}
